<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Gallery</h1>
    <p>Check out some photos of our work and projects!</p>
    <a href="../templates/about.html">About Us</a>
    <a href="../templates/services.html">Our Services</a>
    <a href="../templates/gallery.html">Gallery</a>
    <a href="../templates/contact.html">Contact</a>
    <a href="../templates/mini_game.html">Mini Game</a>
</body>
</html>
